@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

header nav {
    width: 1100px;
    margin-inline: auto;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 999;
}

.logo {
    font-size: 40px;
    text-decoration: none;
    margin-left: 10px;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0 20px;
    gap: 25px;
    letter-spacing: 2px;
}

ul li {
    transition: 0.5s ease-out;
}

nav ul a {
    text-decoration: none;
    color: #fff;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sticky {
    background-color: #fff;
    z-index: 1;
}

.sticky .nav-link {
    color: #000;
}

.sticky .fab {
    color: #000;
}

/* Here nav-bar end */


/* Here Start BG-1 */
.fab {
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
    color: #fff;
}

.fast-food {
    width: 1100px;
    top: 30%;
    bottom: 0;
    align-items: center;
    margin: auto;
    position: relative;
    display: block;
    color: #FEE5B5;
}

.text-background {
    width: 210px;
    background: red;
    padding: 10px;
    font-size: 22px;
}

.grill {
    font-size: 60px;
    line-height: 66px;
    font-weight: 700;
    margin-top: 20px;
}

.our-menu {
    width: 150px;
    padding: 15px 13px;
    font-size: 24px;
    border: 1.7px solid #fff;
    border-radius: 5px;
    margin-top: 30px;
    background: none;
    cursor: pointer;
    color: #fff;
}

section {
    background-image: url(image/background-burgers.jpg);
    background-size: cover;
    height: calc(100vh - 0px);
    background-position: center;
}


.special {
    background: #232323;
    display: flex;
    text-align: center;
}

.today-menu {
    width: 1100px;
    height: 60px;
    margin: auto;
    padding-left: 20px;
    align-items: center;
    text-align: center;
    display: flex;
}

.red {
    color: red;
}

.today-menu {
    width: 1000px;
    display: flex;
}

.today-menu p {
    margin-left: 10px;
}

.white {
    color: #fff;
}

.full-menu {
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    color: #8EC63F;
}

/* Here End BG-1 */


/* Here Start BG-2 */
.bg-2 {
    width: 100%;
    height: 100%;
}

.title-center {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    text-align: center;
    line-height: 50px;
}

.tasty {
    width: 200px;
    display: flex;
    margin-inline: auto;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    padding: auto;
    color: #fff;
    background-color: red;
}

.choose {
    font-size: 64px;
    line-height: 64px;
    font-weight: 800;
    margin: 1rem 0 5px 0;
    color: #262626;
}

.paragraf-1 {
    color: #232323;
}

.grid-container {
    width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0 8rem 0;
}

.grid-container>.box {
    width: auto;
    height: 100%;
    text-align: center;
}

.burgers {
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 10px;
    color: #262626;
}

.text-one {
    padding: 0;
    margin: 0;
}

.text-1 {
    clear: both;
    margin: 10px 0;
    line-height: 25.9px;
    font-size: 16px;
    color: #333333;
}

/* Here End BG-2 */


/* Here Start BG-3 & BG-4 */
.bg-3 {
    width: 100%;
    height: 100%;
}

.text-center {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 5rem 0;
    text-align: center;
    line-height: 50px;
}

.tasty {
    width: 200px;
    display: flex;
    margin-inline: auto;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    padding: auto;
    color: #fff;
    background-color: red;
}

.grid-box {
    width: 1100px;
    margin: 0 auto 5rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 4rem;
    justify-content: space-between;
}

.text-one {
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    color: #262626;
}

.text-2 {
    font-size: 16px;
    line-height: 25.9px;
    color: #333333;
}

.flex-right {
    display: flex;
    justify-content: space-between;
}

.view-menu {
    text-align: center;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    border: 0;
    outline: 0;
    display: flex;
    cursor: pointer;
    margin: auto;
    text-transform: uppercase;
    border: 1.7px solid green;
    border-radius: 25px;
    background-color: #fff;
    color: green;
}

/* Here End BG-3 */


/* Here Start BG-4 */
.bg-4 {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(80vh - 0px);
    margin: 6rem auto;
    background: #F6F8FA;
    background: url(image/background-organic.jpg);
}

/* Here End BG-4 */


/* Here Start BG-5*/
.bg-5 {
    width: 1100px;
    height: 100%;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 10rem 0;
}

.grid-img {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.first-img {
    width: 345px;
    height: auto;
}

/* Here End BG-5 */


/* Here Start Footer */
.footer {
    width: 100%;
    height: 50vh;
    display: flex;
    background: #232323;
}

.footer-content {
    width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
}

.grid-content h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 10px;
    color: #fff;
}

.grid-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
}



/* Responsive Design */
@media screen and (max-width: 1024px) {

    .fast-food {
        width: 100%;
        height: 100%;
    }


    .social-icons {
        margin-right: 10px;
    }

    .fab {
        font-size: 25px;
        cursor: pointer;
        color: #000;
    }


    .sticky {
        background-color: #fff;
        z-index: 1;
    }
    
    .sticky .nav-link {
        color: #000;
    }
    
    .sticky .fab {
        color: #000;
    }
    
    /* Here nav-bar end */

}


@media screen and (max-width: 960px) {

    .grid-container,
    .grid-box {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }

    .box {
        height: 100%;
    }

    .bg-5 {
        width: 100%;
    }

    .grid-img {
        display: grid;
        grid-template-columns: auto auto;
    }

}


@media screen and (max-width: 768px) {

    header {
        width: 100%;
        height: 70px;
        display: flex;
        position: fixed;
        justify-content: space-around;
        padding: 0 15px;
        align-items: center;
        transition: 0.6s;
        z-index: 999;
    }

    .logo {
        margin: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 7px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        width: 100%;
        height: 100vh;
        background: #fff;
        position: fixed;
        left: -100%;
        top: 70px;
        padding-top: 40px;
        line-height: 90px;
        display: block;
        font-size: 28px;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        opacity: 1;
    }

    .nav-menu.active {
        left: 0;
    }

    .bar {
        background: #000;
    }

    .nav-link {
        color: #000;
    }

    .sticky ul li a {
        color: #000;
    }

    .sticky .bar {
        background: #000;
    }
    
    .social-icons {
        margin-right: 20px;
    }

    .fab {
        font-size: 25px;
        cursor: pointer;
        color: #000;
    }


    /* Here Start BG-1 */
    section {
        width: auto;
        background-size: cover;
        background-position: center;
    }

    .fast-food {
        margin: 0 1rem;
    }

    .grill {
        font-size: 50px;
        line-height: 55px;
        font-weight: 700;
        margin-top: 20px;
    }

    .our-menu {
        width: 150px;
        padding: 12px 13px;
        font-size: 18px;
        border: 1.7px solid #fff;
        border-radius: 5px;
        margin-top: 30px;
        background: none;
        cursor: pointer;
        color: #fff;
    }

    /* Here End BG-1 */


    /* Here Start BG-2 */
    .bg-2 {
        width: 100%;
        height: 100%;
    }

    .grid-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
    }

    /* Here End BG-1 */


    /* Here Start BG-3 */
    .grid-box {
        width: 95%;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .flex-right p {
        display: flex;
    }

    /* Here End BG-3 */


    /* Here Start BG-5 */
    .bg-5 {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .grid-img {
        width: 95%;
        margin: auto;
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto;
    }

    .first-img {
        width: 100%;
        justify-content: center;
    }

    /* Here End BG-5 */


    /* Here Start Footer */
    .footer {
        width: 100%;
        height: 100%;
        padding: 2rem 0 2rem 0;
    }

    .grid-content {
        padding: 2rem 0 2rem 0;
    }

    /* Here End Footer */
}


@media screen and (max-width: 600px) {

    header {
        width: 100%;
        height: 70px;
        display: flex;
        position: fixed;
        justify-content: space-between;
        padding: 0 15px;
        align-items: center;
        transition: 0.6s;
        z-index: 999;
    }

    .hello-world {
        margin: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 7px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        width: 100%;
        height: 100vh;
        background: #fff;
        position: fixed;
        left: -100%;
        top: 70px;
        padding-top: 40px;
        line-height: 90px;
        display: block;
        font-size: 28px;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        opacity: 1;
    }

    .nav-menu.active {
        left: 0;
    }

    .bar {
        background: #000;
    }

    .nav-link {
        color: #000;
    }

    .sticky ul li a {
        color: #000;
    }

    .sticky .bar {
        background: #000;
    }

    .grid-container,
    .grid-box,
    .grid-img {
        display: grid;
        grid-template-columns: auto;
    }

    .bg-4 {
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .footer-content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        padding: 0 1em;
    }

}